<a href="https://colab.research.google.com/github/mszczepan/data-science-bootcamp/blob/main/02_Pandas/03_Plik_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import bibliotek

In [23]:
import numpy as np
import pandas as pd

# Załadowanie danych

In [24]:
# Załadowanie danych
import pandas_datareader as web

df = web.DataReader(name='META', data_source='stooq')

In [25]:
df

               Open    High       Low   Close     Volume
Date
2023-07-20  313.500  315.54  302.2200  302.52   23836876
2023-07-19  313.030  318.68  310.5200  316.01   21763688
2023-07-18  310.875  314.20  307.6188  312.05   20764580
2023-07-17  307.540  311.71  304.7100  310.62   25323126
2023-07-14  311.790  314.88  307.3612  308.87   23054108
...             ...     ...       ...     ...        ...
2018-07-27  179.870  179.93  173.0000  174.89   60073749
2018-07-26  174.890  180.13  173.7500  176.26  169803668
2018-07-25  215.715  218.62  214.2700  217.50   64592585
2018-07-24  215.110  216.20  212.6000  214.67   28468681
2018-07-23  210.580  211.62  208.8000  210.91   16731969

[1257 rows x 5 columns]

# Zapis/Odczyt z pliku CSV

In [26]:
df.to_csv('dane.csv')
df_nov = df[(df.index.month == 11) & (df.index.year == 2019) ]
df_nov

               Open     High      Low   Close    Volume
Date
2019-11-29  201.600  203.800  201.210  201.64   7985231
2019-11-27  199.900  203.140  199.420  202.00  12729462
2019-11-26  200.000  200.150  198.039  198.97  11748664
2019-11-25  199.515  200.970  199.250  199.79  15286442
2019-11-22  198.380  199.300  197.620  198.82   9959817
2019-11-21  197.420  199.090  196.860  197.93  12130985
2019-11-20  198.580  199.590  195.430  197.51  12370240
2019-11-19  197.400  200.000  196.860  199.32  19070291
2019-11-18  194.560  198.630  193.050  197.40  16176107
2019-11-15  194.260  195.300  193.380  195.10  11530232
2019-11-14  192.930  194.030  191.450  193.15   9059897
2019-11-13  194.700  195.700  192.740  193.19  11009800
2019-11-12  190.000  195.060  189.740  194.47  17615454
2019-11-11  189.930  190.080  188.540  189.61   8637768
2019-11-08  190.000  192.340  189.700  190.84  10764784
2019-11-07  191.910  193.440  189.470  190.42  13472998
2019-11-06  194.030  194.370  191.350  191.55  10973019
2019-11-05  195.370  195.750  193.600  194.32   9941954
2019-11-04  194.550  197.367  193.812  194.72  16371292
2019-11-01  192.850  194.110  189.910  193.62  21711829

In [27]:
df_nov.to_csv('META_nov.csv')

In [28]:
df_new = pd.read_csv('META_nov.csv')
df_new

          Date     Open     High      Low   Close    Volume
0   2019-11-29  201.600  203.800  201.210  201.64   7985231
1   2019-11-27  199.900  203.140  199.420  202.00  12729462
2   2019-11-26  200.000  200.150  198.039  198.97  11748664
3   2019-11-25  199.515  200.970  199.250  199.79  15286442
4   2019-11-22  198.380  199.300  197.620  198.82   9959817
5   2019-11-21  197.420  199.090  196.860  197.93  12130985
6   2019-11-20  198.580  199.590  195.430  197.51  12370240
7   2019-11-19  197.400  200.000  196.860  199.32  19070291
8   2019-11-18  194.560  198.630  193.050  197.40  16176107
9   2019-11-15  194.260  195.300  193.380  195.10  11530232
10  2019-11-14  192.930  194.030  191.450  193.15   9059897
11  2019-11-13  194.700  195.700  192.740  193.19  11009800
12  2019-11-12  190.000  195.060  189.740  194.47  17615454
13  2019-11-11  189.930  190.080  188.540  189.61   8637768
14  2019-11-08  190.000  192.340  189.700  190.84  10764784
15  2019-11-07  191.910  193.440  189.470  190.42  13472998
16  2019-11-06  194.030  194.370  191.350  191.55  10973019
17  2019-11-05  195.370  195.750  193.600  194.32   9941954
18  2019-11-04  194.550  197.367  193.812  194.72  16371292
19  2019-11-01  192.850  194.110  189.910  193.62  21711829

In [29]:
df_nov.to_excel('META_nov.xlsx')

In [30]:
new_df = pd.read_excel('META_nov.xlsx', index_col= 0)
new_df

               Open     High      Low   Close    Volume
Date
2019-11-29  201.600  203.800  201.210  201.64   7985231
2019-11-27  199.900  203.140  199.420  202.00  12729462
2019-11-26  200.000  200.150  198.039  198.97  11748664
2019-11-25  199.515  200.970  199.250  199.79  15286442
2019-11-22  198.380  199.300  197.620  198.82   9959817
2019-11-21  197.420  199.090  196.860  197.93  12130985
2019-11-20  198.580  199.590  195.430  197.51  12370240
2019-11-19  197.400  200.000  196.860  199.32  19070291
2019-11-18  194.560  198.630  193.050  197.40  16176107
2019-11-15  194.260  195.300  193.380  195.10  11530232
2019-11-14  192.930  194.030  191.450  193.15   9059897
2019-11-13  194.700  195.700  192.740  193.19  11009800
2019-11-12  190.000  195.060  189.740  194.47  17615454
2019-11-11  189.930  190.080  188.540  189.61   8637768
2019-11-08  190.000  192.340  189.700  190.84  10764784
2019-11-07  191.910  193.440  189.470  190.42  13472998
2019-11-06  194.030  194.370  191.350  191.55  10973019
2019-11-05  195.370  195.750  193.600  194.32   9941954
2019-11-04  194.550  197.367  193.812  194.72  16371292
2019-11-01  192.850  194.110  189.910  193.62  21711829

# London bike dataSet

In [35]:
df = pd.read_csv('london_bike.csv')
df

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [36]:
df.head(5)

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [38]:
df1 = df.set_index('timestamp')

In [39]:
df1.head(5)

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
timestamp,,,,,,,,,
2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0